extends ../layout

block content
    if user
        h1= user.name
        p= user.bio
        a(href=url.replace(/\/?$/, `/edit`)) Edit
        form(action=`${url}/delete`, method="post"): button(type="submit") Delete
    else
        h1 User not found.