extends ../layout

block content
    h1 Users
    each user in users
        section
            h2: a(href=url.replace(/\/?$/, `/${user.id}`))= user.name
            p= user.bio
    a(href=`${url}/new`) New
